* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #17182f !important;
}

footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

nav {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.bg-color {
  background-color: #17182f !important;
}

.name:hover,
.tab:hover {
  color: brown !important;
}

.active {
  font-weight: 500;
}

.navbar-brand:hover,
.nav-link:hover,
.about-me:hover,
.contact-icon:hover,
h1:hover {
  color: #5f5dbd !important;
}

.card{
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.18);
  border: 0;
  border-radius: 20px;
  background: linear-gradient(50deg, brown, #5f5dbd 60%, #5f5dbd 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 8px 6px rgba(0, 0, 0, 0.18);
  background-position: 0 100%;
}

.view-more{
  background-color: #1b1c38;
  color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.lang-pill{
  background-color: #1b1c38 !important;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.view-more:hover {
  background-color: #17182f;
  border-color: #17182f;
  color: white;
}

.active {
  color: #5f5dbd !important;
  font-weight: 800;
}

.tab {
  font-weight: 800 !important;
  color: #5f5dbd;
}

.animation {
  display: inline-flex;
  overflow: hidden;
  background: linear-gradient(to right, brown, #5f5dbd 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.18);
}

.animation:hover {
  background-position: 0 100%;
}

.container-card {
  background-color: #1b1c38 !important;
  padding: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.bg-progress {
  background: linear-gradient(50deg, brown, #5f5dbd 60%, #5f5dbd 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
}

.bg-progress:hover {
  background-position: 0 100%;
}

.bg-progress-bar {
  background-color: #17182f;
}

.shadow-progress {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.rounded-textarea {
  border-radius: 20px;
}

.card-footer{
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
}

.btn-send{
  background-color: #17182f;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  color: white;
}

.menu-icon {
  color: rgba(0, 0, 0, 0) !important;
  border: none;
}

