* {
  font-family: "Montserrat", sans-serif !important;
}

.name:hover,
.tab:hover {
  color: brown !important;
}

.active {
  font-weight: 500;
}

.navbar-brand:hover,
.nav-link:hover,
.about-me:hover,
h1:hover {
  color: #5f5dbd !important;
}

.contact-icon:hover {
  color: black !important;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #5f5dbd;
}

.card-body:hover {
  color: white;
}
.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  border: 0;
}

.view-more:hover {
  background-color: #198754;
  border-color: #198754;
  color: white;
}

.active {
  color: #5f5dbd !important;
  font-weight: 800;
}

.tab {
  font-weight: 800 !important;
  color: #5f5dbd;
}

.animation {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #5f5dbd, #5f5dbd 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
}
.animation:hover {
  background-position: 0 100%;
}